body{
    background-color: rgb(195, 227, 255);
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 500px;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido en la página */
}
#fraseFinal{
    font-family:cursive;
}
#aguaTextos{
    width: 200px; 
    display: flex; 
    flex-direction: column;
}
#botellaYtexto{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
#botellas{
    display: flex; 
    justify-content: space-between; 
    width: 700px; 
    height: 520px;
}
#graficaMapa{
    width: 80%; 
    display: flex; 
    justify-content: center; 
    margin: auto; 
    margin-right: 190px;
}
#mapa{
    width: 50%; 
    height: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 25px;
    justify-content: center;
    text-align: justify;
}
.Subtitulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 35px;
    justify-content: center;
}
#aguaLimpia{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background-color: #84b6f4;
    border-radius: 25px;
    padding: 10px;
}
#aguaSucia {
    display: block;
    margin-top: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: justify;
    background-color: #97572B;
    border-radius: 25px;
    padding: 10px;
}
#container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Crea una nueva casilla de verificación */
.custom-checkbox label:before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
    border: 1px solid #000000;
    vertical-align: text-top;
    margin-bottom: 2.2px;
}

/* Estilo para la casilla de verificación cuando está marcada */
.custom-checkbox input[type="checkbox"]:checked + label:before {
    background-color: #5b92e5;
    margin-bottom: 2.2px;
}
#checkboxes {
    padding-right: 2px;
    width: 20px; 
    margin-left: 220px;
    height: 1005px;
    margin-top: 35px;
}
#graficaBarras {
    width: calc(100% - 200px); 
}
#niños {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    height: 5px; /* Aumenta el grosor de la línea */
    background-color: #84b6f4; /* Cambia el color de la línea */
    border: none; /* Elimina el borde predeterminado */
}
.center {
    display: flex;
    align-items: center;
}
.select-style {
    font-size: 20px; /* Aumenta el tamaño de la letra */
    background-color: #84b6f4; /* Cambia el color de fondo */
}
.cartel {
    position: absolute;
    width: 50%; 
}
  
@media (max-width: 600px) {
    .cartel {
        width: 100%;
    }
}
@media (max-width:850px){
    
}
